<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>User Profile</h1>
    <h2>{{ profile.username }}</h2>
    <p>Email: {{ profile.email }}</p>
    <p>Created: {{ profile.created }}</p>

    <h2>Trades</h2>
    <ul>
      {% for trade in trades %}
      <li>{{ trade.stockinfo.stock.symbol }} - Quantity: {{ trade.quantity }}, Price: {{ trade.stockinfo.closeprice }}, Timestamp: {{ trade.stockinfo.timestamp }}
        &nbsp <a href="">Sell</a>
      </li>
      {% endfor %}
    </ul>

    <h2>Favorite Stocks</h2>
    <ul>
      {% for favorite_stock in favors %}
      <li>{{ favorite_stock.stock.symbol }}<a href="{% url 'deleteFavor' profile.id favorite_stock.stock.symbol %}">delete</a></li>
      {% endfor %}
    </ul>

    <h2>Virtual Funds</h2>
    <p>Balance: {{ funds.balance }}</p>

    <br/>
    <a style="background-color:red;" href="{% url 'deregister' profile.id profile.username %}">Deregister your acount</a>
  </body>
</html>
